 ## üêº Transformando nuestro dataset con estiloüòé

In [ ]:
import pandas as pd
import numpy as np

In [41]:
data1.columns = ["user_id","item_id","rating","timestamp"]

In [42]:
data1 = data1.drop("timestamp", axis=1)

In [43]:
data1.head()

   user_id  item_id  rating
0      196      242       3
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1

In [44]:
data2 = data1.iloc[:20]

In [45]:
data2.shape

(20, 3)

In [53]:
headers = {
    'selector': 'th.col_heading',
    'props': 'background-color: #5E17EB; color: white;'
}

index_style = {
    'selector': 'th.index_name',
    'props': 'background-color: #5E17EB; color: white;'
}

data2_style = (
    data2
        .style
            .set_table_styles([headers,index_style])
            .set_properties(**{'background-color': '#FFCFC9','color': 'black'})
)

data2_style

In [47]:

columns = data2.columns[data2.columns.str.startswith('rating')]

max_value = data2[columns].max().max()
min_value = data2[columns].min().min()
# Establecer el estilo para la celda con el valor m√°ximo
max_style =  f'background-color:#3BE8B0; '    
# Establecer el estilo para la celda con el valor m√≠nimo
min_style = f'background-color: #FF66C4; '
(
 data2
 .style
 .set_table_styles([headers])
 .applymap(lambda x: max_style if x == max_value else '')
 .applymap(lambda x: min_style if x == min_value else '', subset=columns)
)

In [51]:
(
    data2
        .style
            .set_table_styles([headers, index_style])
            .background_gradient(cmap='Reds',subset=columns)
)

[Pandas Documentaci√≥n](https://pandas.pydata.org/docs/user_guide/style.html)